@model SliderAdminVM
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Sliders</h1>
<div class="create-operation mt-3">
    <a class="btn btn-success btn-sm" asp-area="Admin" asp-action="Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
    </a>
</div>
<div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            
            
                <tr class="category-data">
                <td><img src="~/assets/images/cat-1.jpg" alt="" /></td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>.Price</td>
                    <td>CategoryName</td>
                    <td>
                       
                   
                    </td>
                </tr>
            
        </tbody>
    </table>
</div>


